.leftSide {
  width: 115px;
  background-color: #1EC221;
  float: left;
  height: 3000px;
  margin: 0; }

.content {
  background-color: #A5A1C2;
  width: 1050px;
  height: 3000px;
  margin: 0;
  float: left;
  text-align: center; }

.rightSide {
  width: 115px;
  background-color: #C2313D;
  float: left;
  height: 3000px;
  margin: 0; }

.rightSide__h2 {
  text-align: center;
  color: #C2313D; }
