.header {
  height: 200px;
  background-color: #BF67C2;
  background-image: url(""); }

.logo {
  width: 300px;
  height: 200px;
  float: left;
  background-image: url("../img/K84E3Ovd.jpg");
  background-repeat: no-repeat;
  background-color: #72C25B;
  background-position: 20px 40px; }

.menu {
  margin-top: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 600px;
  top: 70px;
  word-spacing: 20px; }

.menu li {
  display: inline;
  text-decoration: none; }

.menu a {
  text-decoration: none; }

.menu__a {
  font-weight: bold; }

.content {
  height: 900px;
  background-color: #636977;
  background-image: url("../img/1737174_1.jpg");
  background-repeat: no-repeat;
  background-position: 230px 45px; }

.text {
  position: absolute;
  left: 640px;
  right: 240px;
  top: 300px; }

.text__item1 {
  margin: 15px 0;
  color: #C1C1C1;
  font-size: 28px; }

.text__item2 {
  margin: 0;
  color: #C1C1C1;
  font-size: 15px;
  line-height: 25px; }

.buttons {
  position: absolute;
  left: 640px;
  top: 500px; }

.buttons__item1 {
  margin: 0 5px 0 0;
  float: left; }

.buttons__item2 {
  margin: 0;
  float: left; }

.about-us {
  width: 200px;
  height: 200px;
  background-color: #B032FF;
  display: block; }

.h3 {
  margin: 0; }

.content2 {
  height: 900px;
  background-color: #C5FF6E; }

.content2-p {
  margin: 0; }

.content3 {
  height: 900px;
  background-color: #FF9691; }

.content3-p {
  margin: 0;
  position: relative;
  top: 50px;
  left: 30px;
  border: 1px solid #000000;
  right: 500px; }

.content3-p2 {
  position: relative;
  top: 50px;
  left: 50px;
  margin: 0; }

.content3__block {
  display: block;
  width: 100px;
  height: 90px; }

.content3__block_p, .content3__block_p1, .content3__block_p2, .content3__block_p3 {
  margin: 0; }

.footer {
  background-color: #D0FF00;
  display: block;
  height: 150px; }
