.header {
  height: 200px;
  background-color: #BF67C2;
  background-image: url(""); }

.logo {
  width: 110px;
  height: 30px;
  background-image: url("../img/wallpaper_240x320_1880.png");
  background-repeat: repeat;
  background-position: 240px 20px; }

.claymore {
  text-align: center; }

.menu {
  list-style-type: none;
  display: inline; }

.menu__item7 {
  font-weight: bold; }
